<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div class="row justify-content-center align-item-center bg-info bg-opacity-25 p-5">
        @RenderBody()
    </div>
</body>
</html>
